%table.table.table-hover
  %tr
    %th= t('.variant')
    %th= t('.total')
  - @variants.each do |variant|
    %tr
      %td= variant.title
      %td= @question.answers.where(variant_id: variant.id).count
